@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  body {
    background: repeating-conic-gradient(
      from 0deg,
      theme("colors.primary.200") 0% 25%,
      theme("colors.primary.100") 25% 50%,
      theme("colors.primary.200") 50% 75%,
      theme("colors.primary.100") 75% 100%
    );
    background-size: 120px 120px; /* size of the squares */
    height: 100vh;

    position: relative;
  }
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(100%);
  cursor: pointer;
}

div[data-virtual-scroller] {
  @apply overflow-y-auto;
}

div[data-virtual-scroller]::-webkit-scrollbar {
  @apply w-2;
}

div[data-virtual-scroller]::-webkit-scrollbar-track {
  @apply rounded-full bg-white;
}

div[data-virtual-scroller]::-webkit-scrollbar-thumb {
  @apply rounded-full bg-cred;
}
